@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap");

h1 {
  font-family: "Coming Soon", cursive;
}

li:first-child a {
  font-weight: bold;
  border: 2px solid rgb(6, 182, 15);
  background: linear-gradient(90deg, rgb(6, 182, 15) 0%, rgb(71, 216, 88) 100%);
  border-radius: 10px;
  padding: 8px 16px;
}

li:last-child a {
  font-weight: bold;
  border: 2px solid rgb(6, 182, 15);
  border-radius: 10px;
  padding: 8px 16px;
}
