.note-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note-list .note {
  background-color: rgb(196, 242, 255);
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 2rem;
  width: 70%;
}

.note .note-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

.note .note-content {
  word-wrap: break-word;
}
