.user-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout-button {
  padding: 8px 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(90deg, rgb(182, 6, 6) 0%, rgb(216, 71, 71) 100%);
  color: #fff;
}
